@page "/admin/setup"
@using Mastery.Client.Components.Admin

<h3>Setup</h3>

<MudTabs>
    <MudTabPanel Text="Skills">
        <ManageSkills />
    </MudTabPanel>
    <MudTabPanel Text="Event Types">
        <ManageEventTypes />
    </MudTabPanel>
</MudTabs>

@code {

}
